/* src/pages/ShopPage.css */
.shop-page {
  background-color: #000000; /* Warna latar yang sedikit berbeda untuk membedakan */
  color: #fff;
  min-height: 100vh;
  padding-top: 6rem; 
}

.page-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}